<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Female</h4>
            <p class="card-category">
              <span class="text-success">{{userDetails.countFemaleEmployee}} Of {{userDetails.totalEmployee}} </span>
            </p>
          </div>
          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons fa fa-female"></i>
                </div>
                <p class="card-category">Female</p>
                <h3 class="card-title">{{userDetails.rangeGenderFemale}}%
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-warning"></i>
                  <p>Range Gander Female Employee</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              Female Employee Counte Of Total Employee
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Male</h4>
            <p class="card-category">
              <span class="text-success">{{userDetails.countMaleEmployee}} Of {{userDetails.totalEmployee}} </span></p>
          </div>
          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons fa fa-male"></i>
                </div>
                <p class="card-category">Male</p>
                <h3 class="card-title">{{userDetails.rangeGenderMale}}%
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-warning"></i>
                  <p>Range Gander Male Employee</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              Male Employee Counte Of Total Employee
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">20 T0 30 Old</h4>
            <p class="card-category">
              <span class="text-success">{{userDetails.countRange2030}} Of {{userDetails.totalEmployee}} </span></p>
          </div>
          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">20 T0 30 Old</p>
                <h3 class="card-title">{{userDetails.range2030Range}}%
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-warning"></i>
                  <p>Range Age From 20 T0 30 Old Employee</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              Age From 20 T0 30 Old Employee Counte Of Total Employee
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">30 T0 40 Old</h4>
            <p class="card-category">
              <span class="text-success">{{userDetails.countRange3040}} Of {{userDetails.totalEmployee}} </span></p>
          </div>
          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">30 T0 40 Old</p>
                <h3 class="card-title">{{userDetails.range3040Range}}%
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-warning"></i>
                  <p>Range Age From 30 T0 40 Old Employee</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              Age From 20 T0 30 Old Employee Counte Of Total Employee
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">More 40 Old</h4>
            <p class="card-category">
              <span class="text-success">{{userDetails.countMore40}} Of {{userDetails.totalEmployee}} </span></p>
          </div>
          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">More 40 Old</p>
                <h3 class="card-title">{{userDetails.more40Range}}%
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-warning"></i>
                  <p>Range Age From More 40 Old Employee</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              Age From 20 T0 30 Old Employee Counte Of Total Employee
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Employees Count</h4>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Title</th>
                <th>Conte</th>
              </thead>
              <tbody>
                <tr>
                  <td>Total Employee</td>
                  <td>{{userDetails.totalEmployee}}</td>
                </tr>
                <tr>
                  <td>Count Male Employee</td>
                  <td>{{userDetails.countMaleEmployee}}</td>
                </tr>
                <tr>
                  <td>Count Female Employee</td>
                  <td>{{userDetails.countFemaleEmployee}}</td>
                </tr>
                <tr>
                  <td>Count Range 20 To 30</td>
                  <td>{{userDetails.countRange2030}}</td>
                </tr>
                <tr>
                  <td>Count Range 30 To 40</td>
                  <td>{{userDetails.countRange3040}}</td>
                </tr>                <tr>
                  <td>Count More 40</td>
                  <td>{{userDetails.countMore40}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-warning">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Range Employee</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table table-hover">
                  <thead class="text-warning">
                    <th>Title</th>
                    <th>Range</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Range Gender Male</td>
                      <td>{{userDetails.rangeGenderMale}}</td>
                    </tr>
                    <tr>
                      <td>Range Gender Female</td>
                      <td>{{userDetails.rangeGenderFemale}}</td>
                    </tr>
                    <tr>
                      <td>Range 20 To 30 Old</td>
                      <td>{{userDetails.range2030Range}}</td>
                    </tr>
                    <tr>
                      <td>Range 30 To 40 Old</td>
                      <td>{{userDetails.range3040Range}}</td>
                    </tr>                <tr>
                      <td>More 40 Range</td>
                      <td>{{userDetails.more40Range}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
