

<div class="container d-flex align-items-center">

        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Hallo Visitor</h1>
            <h2 class="text-dark mx-auto mt-2 mb-5">My name is Osama Al-Dajah and this is my website to Manage Employee</h2>
            <h4>I am Work the web sit using Asp.net core API with angular</h4>
            <a routerLink = "/publichome/login" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>

    </div>
